<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content"> 
        {{>header}}
        <p class="base"> {{helpMsg}} </p>
        <ul>
            <li>Make Sure You are connected with internet connection.</li>
            <li>Provide proper keyword while searching</li>
            <li>Make sure you enter a valid address.</li>
        </ul>
        <p class="base"> For Future help contact &nbsp; <a href="mailto:prasannsitani000@gmail.com">here</a>.</p>
    </div>
    {{>footer}}
</body>
</html>